<?xml version="1.0"?>
<config>
	<modules>
		<NewsModules_RichSnippet>
			<version>0.1.2</version>
		</NewsModules_RichSnippet>
	</modules>
	<global>
		<helpers>
			<richsnippet>
				<class>NewsModules_RichSnippet_Helper</class>
			</richsnippet>
		</helpers>
		<models>
			<richsnippet>
				<class>NewsModules_RichSnippet_Model</class>
			</richsnippet>
        </models>
		<resources>
			<richsnippet_setup>
				<setup>
					<module>NewsModules_RichSnippet</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
			</richsnippet_setup>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<richsnippet>
					<file>richsnippet.xml</file>
				</richsnippet>
			</updates>
		</layout>
		<routers>
			<richsnippet>
				<use>standard</use>
				<args>
					<module>NewsModules_RichSnippet</module>
					<frontName>richsnippet</frontName>
				</args>
			</richsnippet>
		</routers>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<richsnippet>
					<file>richsnippet.xml</file>
				</richsnippet>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<catalog>
			<newsmodules_richsnippet>
				<enable_uninstall>0</enable_uninstall>
			</newsmodules_richsnippet>
		</catalog>
	</default>
</config>